
body {
    /*background: url("https://www.arteks.ooo/upload/iblock/5e7/5e7ad1d9283ad6525c31f0b3ef20a855.jpg");*/
    background-color: white;
}

.cont1 {
    display: flex;
    margin-top: 20px;
    margin-left: 132px;
}

.hrOrd {
    height: 2px;
    border: none;
    background-color: #d0cccc;
    margin-bottom: 20px;
}

.ref-close {
    text-decoration: none;
    color: white;
}

textarea:focus {
    outline: 0;
    outline-offset: 0;
    border: 5px solid rgba(234, 155, 154, 0.8);
}

INPUT:focus {
    outline: 0;
    outline-offset: 0;
    border: 5px solid rgba(234, 155, 154, 0.8);
}

body {
    background-color: white;
}

.title-ord {
    font-size: 33px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 81px;
    margin-bottom: 40px;
    font-family: sans-serif;
}

.container-ord {
    display: flex;
    margin-left: 60px;
    margin-bottom: 120px;
}

.order {
    width: 70%;
    margin-top: 124px;
}

.table-ord {
    width: 100%;
    margin-top: 20px;
}

.td-ref {
    text-decoration: none;
    color: #706f6f;
    font-family: system-ui;
}

.order-main {
    margin-left: 129px;
    margin-right: 137px;
    border: 2px solid #c8c8c8;
    border-radius: 28px;
    background-color: white;
}

.h2-order {
    text-align: center;
    padding-bottom: 15px;
}

.order-btn {
    text-align: center;
}

.btn-order {
    padding: 12px 40px;
    color: white;
    background-color: darkred;
    border-radius: 42px;
    margin-bottom: 30px;
    font-size: 15px;
    font-family: cursive;
    border: 1px;
}

.order-cont {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.order-price {
    margin-left: 237px;
}

.order-cost {
    margin-top: 2px;
    margin-left: 30px;
    padding-top: 19px;
    margin-bottom: -33px;
}

.order-full {
    margin-top: -21px;
    display: flex;
}

.full-price {
    margin-left: 30px;
    margin-right: 154px;
}

.table1 {
    width: 100%;
    border-collapse: collapse;
}

.trTab {
    border-bottom: 3px solid #d4d3d3;
}

.price {
    padding-bottom: 45px;
    font-weight: 700;
    font-size: 20px;
}

.er-col {
    color: darkred;
}

.btns {
    margin-left: 82px;
}

.er-name {
    margin-left: 235px;
    margin-bottom: 20px;
}

.er-number {
    margin-left: 221px;
    margin-bottom: 20px;
}

.er-cvv {
    margin-left: 236px;
    margin-bottom: 20px;
}

.inp-choose {
    /*margin-left: 146px;*/
}

.err-choose {
    margin-right: 20px;
    margin-inline-start: auto;
    margin-top: 10px;
    color: darkred;
}

.success {
    margin-bottom: 0px;
    padding-top: 5px;
    color: darkred;
    margin-top: 7px;
    padding-bottom: 16px;
}

.del-ord {
    background-color: transparent;
    border: none;
    color: #828686;
    font-size: 17px;
    font-family: unset;
    cursor: pointer;
}

.no-money-btn {
    margin-left: 320px;
}

.order-head {
    background-color: #cccccc;
    padding-top: 1px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    margin: -2px;
}

.form-group8{
    display: flex;
}