
.mb-head {
    margin-top: 10px;
}

.hrProduct {
    height: 2px;
    border: none;
    background-color: #d0cccc;
}

textarea:focus {
    outline: 0;
    outline-offset: 0;
    border: 5px solid rgba(234, 155, 154, 0.8);
}

INPUT:focus {
    outline: 0;
    outline-offset: 0;
    border: 5px solid rgba(234, 155, 154, 0.8);
}

.product {
    width: 700px;
    height: auto;
    border: 2px solid #b2afaf;
    border-radius: 43px;
    background-color: white;
}

.tit-pr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-mb {
    margin-bottom: 50px;
}

.to-ord {
    margin-left: -508px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.det-prod {
    text-align: left;
    margin-left: 23px;
    margin-top: 12px;
}

.desc {
    margin: 0;
}

body {
    background: url("https://www.arteks.ooo/upload/iblock/5e7/5e7ad1d9283ad6525c31f0b3ef20a855.jpg");
}

.pr-w {
    width: 800px;
}

.ml-b {
    margin-left: -611px;
}

.del-photo {
    margin-left: 17px;
    margin-top: 20px;
}

.add-photo-prod {
    margin-top: 20px;
    margin-left: 18px;
}

.btn-add-photo {
    margin-top: 15px;
}