
.tit-users {
    text-align: center;
}

.label-users {
    margin-left: 16px;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 600;
}

.sort {
    display: flex;
    align-items: baseline;
    place-content: center;
}

.select-sort {
    border-radius: 3px;
    padding: 8px 40px;
    border: 1px solid #9ca0a4;
}

select:focus {
    outline: 0;
    outline-offset: 0;
    border: 5px solid rgba(234, 155, 154, 0.8);
}

.btn-sort {
    padding: 8px 15px;
    border-radius: 3px;
    border: 1px solid transparent;
    color: white;
    background-color: darkred;
    cursor: pointer;
}

.btn-sort:hover {
    background-color: #6c0404;
    color: white;
}

option:hover {
    background-color: #9ca0a4;
}

.tdTab {
    word-break: break-all;
    padding: 20px 20px 20px 24px;
}

.mb-head {
    margin-top: 10px;
}

textarea:focus {
    outline: 0;
    outline-offset: 0;
    border: 5px solid rgba(234, 155, 154, 0.8);
}

INPUT:focus {
    outline: 0;
    outline-offset: 0;
    border: 5px solid rgba(234, 155, 154, 0.8);
}

.ml15 {
    margin-left: 100px;
    padding-left: 144px;
    padding-bottom: 20px;
}

.table4 {
    width: 100%;
    border-collapse: collapse;
}

.trTab {
    border-bottom: 3px solid #d4d3d3;
}

.tab {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.nameProd {
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 600;
}

.addCard {
    color: white;
    background-color: darkred;
    padding: 6px 24px;
    border-radius: 49px;
    border: 1px solid transparent;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 20px;
}

.addPr {
    text-decoration: none;
    color: white;
}

.addCard:hover {
    background-color: #6c0404;
}

body {
    /*background: url("https://www.arteks.ooo/upload/iblock/5e7/5e7ad1d9283ad6525c31f0b3ef20a855.jpg");*/
    background-color: white;
}

th {
    padding-left: 14px;
    padding-bottom: 26px;
    text-align: justify;
}

input[type="file" i] {
    margin-bottom: 10px;
    margin-right: -6px;
    margin-inline-start: auto;
}




h4 {
    font-weight: 100;
}

.tdWidth {
    width: 545px;
}

.hrProducts {
    margin-left: 100px;
    margin-right: 100px;
}



.det-sort {
    margin: 50px 100px 20px;
}

summary {
    font-size: 19px;
    font-weight: 600;
}